<div class="error">
    <div class="errorInfo">
        <h1 class="errorTitle">{{code}}</h1>
        <h2 class="errorText">{{text}}</h2>
    </div>
    {{> Link url='/chat' text="Назад к чатам" }}
</div>