.registration {

  &__buttons {
    margin-top: 50px;
  }
}

.registrationAuthorizationForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
