<div class="formContainer">
    {{> Title title="Регистрация" }}
    <form class="form">
        <div class="formInputs">
            {{> Input type="text" name="first_name" value=first_name label="Имя" id="first_name_input" }}
            {{> Input type="text" name="second_name" value=second_name label="Фамилия" id="surname_input" }}
            {{> Input type="text" name="login" value=login label="Логин" id="login_input" }}
            {{> Input type="email" name="email" value=email label="Почта" id="email_input" }}
            {{> Input type="email" name="phone" value=phone label="Телефон" id="phone_input" }}
            {{> Input type="password" name="password" value=password label="Пароль" id="password_input" }}
            {{> Input type="password" name="re_password" value=password label="Повторите пароль" id="re_password_input" }}
        </div>
        <div class="formAction">
            {{> Button value="Зарегистрироваться" }}
            {{> Link url='/authorization' text="Есть аккаунт?" }}
        </div>
    </form>
</div>